@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	font-style: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #FFFFFF;
	border-radius: 2.5px;
}

::-moz-placeholder, :-moz-placeholder {
	opacity: 1;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	background-color: #333;
	font-family: "IBM Plex Mono", monospace;
	color: #FFFFFF;
	overflow: hidden;
	scrollbar-width: thin;
	scrollbar-color: white #333;
}

h1 {
	font-size: 30px;
	font-weight: 600;
}

input[type=range] {
	-webkit-appearance: none;
	height: 8px;
	background: #333;
	border-radius: 4px;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #333;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	border: 3px solid #fff;
	cursor: pointer;
}
input[type=range]::-moz-range-thumb {
	box-sizing: border-box;
	background: #333;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	border: 3px solid #fff;
	cursor: pointer;
}

.pop-up {
	z-index: 100;
	position: absolute;
	width: 100vw;
	height: var(--vh100, 100vh);
	background-color: rgba(51, 51, 51, 0.7);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.pop-up__body {
	margin: 0 0 100px 0;
	border-radius: 15px;
	border: 4px solid rgba(255, 255, 255, 0.9);
	width: 270px;
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(51, 51, 51, 0.9);
	font-size: 16px;
	-webkit-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	opacity: 0;
	-webkit-transform: scale(0, 0);
	        transform: scale(0, 0);
}
.pop-up__title {
	text-align: center;
	font-weight: 600;
	padding: 7px 0;
}
.pop-up__text {
	line-height: 20px;
	border-top: 2px solid rgba(255, 255, 255, 0.9);
	padding: 7px;
}
.pop-up__buttons {
	padding: 3px 7px 7px 7px;
	text-align: right;
	letter-spacing: none;
}
.pop-up__buttons button:nth-child(1) {
	margin: 0 6px 0 0;
	background-color: rgba(51, 51, 51, 0.9);
	color: rgba(255, 255, 255, 0.9);
}
.pop-up__buttons button:nth-child(1):active {
	background-color: rgba(70, 70, 70, 0.9);
}
.pop-up__button {
	font-size: 14px;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.9);
	color: rgba(51, 51, 51, 0.9);
	border-radius: 4px;
	padding: 1px 5px;
	font-weight: 700;
	border: 2px solid rgba(255, 255, 255, 0.9);
}
.pop-up__button:active {
	background-color: rgba(240, 240, 240, 0.9);
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 1fr 50px;
	grid-template-columns: auto 1fr 50px;
	-ms-grid-rows: 47px calc(var(--vh100, 100vh) - 47px);
	grid-template-rows: 47px calc(var(--vh100, 100vh) - 47px);
}

.wrapper > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.wrapper > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}

.wrapper > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.wrapper > *:nth-child(4) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}

.wrapper > *:nth-child(5) {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}

.wrapper > *:nth-child(6) {
	-ms-grid-row: 2;
	-ms-grid-column: 3;
}
.wrapper .header {
	border: 1px solid #FFFFFF;
	border-top: 0px;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-column: 1/4;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 1fr;
	grid-template-columns: auto 1fr;
}
.wrapper .header__title {
	padding: 8px 0 8px 0px;
	width: 206px;
	text-align: center;
	display: inline-block;
}
.wrapper .header__title h1 {
	display: inline-block;
	position: relative;
}
.wrapper .header__title h1:before {
	content: "AST";
	font-size: 12px;
	color: #ff0000;
	font-weight: 700;
	font-style: italic;
	position: absolute;
	top: 3px;
	left: -25px;
}
.wrapper .header__menu {
	padding: 0 65px 0 0;
	display: -ms-grid;
	display: grid;
	-ms-flex-line-pack: center;
	    align-content: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: end;
}
.wrapper .header__menu-button {
	background-color: transparent;
	color: #ffffff;
	font-size: 16px;
	height: 28px;
	font-weight: 600;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
	position: relative;
}
.wrapper .header__menu-button:after {
	content: "";
	position: absolute;
	top: 28px;
	left: 0px;
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background-color: #fff;
	-webkit-transform: scale(0, 1);
	        transform: scale(0, 1);
	-webkit-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
.wrapper .header__menu ._active:after {
	-webkit-transform: scale(1, 1);
	        transform: scale(1, 1);
}
.wrapper .header__burger-all-notes {
	display: none;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	-ms-grid-column-align: end;
	    justify-self: end;
	padding: 0 0 0 6.5px;
}
.wrapper .header__burger-all-notes button {
	display: inline-block;
	display: -ms-grid;
	display: grid;
	gap: 5px;
	background-color: transparent;
	padding: 5px 5px;
}
.wrapper .header__burger-all-notes div {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	width: 24px;
	height: 4px;
	background-color: #fff;
	border-radius: 2px;
}
.wrapper .header__min-menu {
	display: none;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	-ms-grid-column-align: end;
	    justify-self: end;
	padding: 0 12px 0 0;
}
.wrapper .header__min-menu button {
	display: inline-block;
	position: relative;
	background-color: transparent;
	width: 32px;
	height: 32px;
}
.wrapper .header__min-menu button svg {
	fill: #333;
	width: 100%;
	height: 100%;
	-webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.wrapper .header__min-menu button div {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	background-color: #fff;
	width: 24px;
	height: 4px;
	border-radius: 2px;
	position: absolute;
	top: 14px;
	left: 4px;
}
.wrapper .header__min-menu button div:nth-child(2) {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.wrapper .header__min-menu button div:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.wrapper .aside1 {
	border-left: 1px solid #FFFFFF;
}
.wrapper .aside1__menu {
	margin: 0 5px 0 10px;
	height: calc(var(--vh100, 100vh) - 47px);
	font-size: 18px;
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: auto 1fr;
	grid-template-rows: auto 1fr;
}
.wrapper .aside1__title {
	margin: 17.5px 0 7.5px 0;
}
.wrapper .aside1__empty {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	color: #757575;
	width: 180px;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.wrapper .aside1__all-notes {
	height: 100%;
	overflow-y: scroll;
	padding: 0 5px 0 0;
	border-bottom: 25px solid #333;
	scrollbar-width: thin;
	scrollbar-color: white #333;
}
.wrapper .aside1__button {
	background-color: #FFFFFF;
	font-size: 13px;
	line-height: 20px;
	border-radius: 5px;
	color: #333;
	font-weight: 700;
	padding: 0 5px;
	width: 180px;
	height: 22px;
	margin: 0 0 7.5px 0;
	text-align: left;
	border: 1px solid #FFFFFF;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: all 0.15s linear 0s;
	transition: all 0.15s linear 0s;
}
.wrapper .aside1__button svg {
	fill: #333;
	height: 18px;
	margin: 1px 4px 0 0;
	-webkit-transition: all 0.15s linear 0s;
	transition: all 0.15s linear 0s;
}
.wrapper .main {
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}
.wrapper .main .note {
	display: -ms-grid;
	display: grid;
	height: 100%;
	-ms-grid-rows: auto auto 1fr;
	grid-template-rows: auto auto 1fr;
	margin: 0 25px;
}
.wrapper .main .note__title, .wrapper .main .note__textarea {
	background-color: #333;
	color: #FFFFFF;
	resize: none;
}
.wrapper .main .note__title {
	min-width: 1px;
	margin: 25px 0 0 0;
	font-size: 20px;
	line-height: 26px;
	font-weight: 500;
	padding: 0 1px 0px 1px;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: white #333;
}
.wrapper .main .note__line {
	height: 1px;
	margin: 10px 0 0 0;
	background-color: #fff;
}
.wrapper .main .note__textarea {
	min-width: 1px;
	padding: 0px 3px 0 1px;
	margin: 8px 0 25px 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	scrollbar-width: thin;
	scrollbar-color: white #333;
}
.wrapper .main textarea::-webkit-input-placeholder {
	color: #757575;
	-webkit-transition: all 0.15s linear 0s;
	transition: all 0.15s linear 0s;
}
.wrapper .main textarea::-moz-placeholder {
	color: #757575;
	-moz-transition: all 0.15s linear 0s;
	transition: all 0.15s linear 0s;
}
.wrapper .main textarea:-ms-input-placeholder {
	color: #757575;
	-ms-transition: all 0.15s linear 0s;
	transition: all 0.15s linear 0s;
}
.wrapper .main textarea::-ms-input-placeholder {
	color: #757575;
	-ms-transition: all 0.15s linear 0s;
	transition: all 0.15s linear 0s;
}
.wrapper .main textarea::placeholder {
	color: #757575;
	-webkit-transition: all 0.15s linear 0s;
	transition: all 0.15s linear 0s;
}
.wrapper .main ._error textarea::-webkit-input-placeholder {
	color: #ff0000;
	text-decoration-color: #ff0000;
}
.wrapper .main ._error textarea::-moz-placeholder {
	color: #ff0000;
	text-decoration-color: #ff0000;
}
.wrapper .main ._error textarea:-ms-input-placeholder {
	color: #ff0000;
	text-decoration-color: #ff0000;
}
.wrapper .main ._error textarea::-ms-input-placeholder {
	color: #ff0000;
	text-decoration-color: #ff0000;
}
.wrapper .main ._error textarea::placeholder {
	color: #ff0000;
	text-decoration-color: #ff0000;
}
.wrapper .main ._underline-placeholder::-webkit-input-placeholder {
	text-decoration: underline;
	text-decoration-color: #757575;
}
.wrapper .main ._underline-placeholder::-moz-placeholder {
	text-decoration: underline;
	text-decoration-color: #757575;
}
.wrapper .main ._underline-placeholder:-ms-input-placeholder {
	text-decoration: underline;
	text-decoration-color: #757575;
}
.wrapper .main ._underline-placeholder::-ms-input-placeholder {
	text-decoration: underline;
	text-decoration-color: #757575;
}
.wrapper .main ._underline-placeholder::placeholder {
	text-decoration: underline;
	text-decoration-color: #757575;
}
.wrapper .aside2 {
	border-right: 1px solid #FFFFFF;
}
.wrapper .aside2__menu {
	padding: 7.5px 0 7.5px 0;
	display: -ms-grid;
	display: grid;
	gap: 7.5px;
	justify-items: center;
	max-height: calc(var(--vh100, 100vh) - 47px);
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: white #333;
}
.wrapper .aside2__button {
	height: 35px;
	width: 35px;
	border-radius: 10px;
	background-color: #FFFFFF;
	border: 2px solid #FFFFFF;
	-webkit-transition: all 0.15s linear 0s;
	transition: all 0.15s linear 0s;
}
.wrapper .aside2__button svg {
	fill: #333;
	height: 26px;
	margin: 2px 0 0 0;
	-webkit-transition: all 0.15s linear 0s;
	transition: all 0.15s linear 0s;
}
.wrapper .aside2__button div {
	background-color: #FFFFFF;
	height: 23px;
	width: 23px;
	border: 1px solid #333;
	border-radius: 5px;
	margin: 0 0 0 4px;
	-webkit-transition: all 0.15s linear 0s;
	transition: all 0.15s linear 0s;
}
.wrapper .aside2__button span {
	font-size: 16px;
	color: #333;
	font-weight: 500;
}
.wrapper .aside2__button:active {
	background-color: #333;
}
.wrapper .aside2__button:active svg {
	fill: #FFFFFF;
}
.wrapper .aside2__button:active div {
	border: 1px solid #FFFFFF;
}
.wrapper .aside2__button:active span {
	color: #fff;
}
.wrapper .aside2 #button__text-align,
.wrapper .aside2 #button__color,
.wrapper .aside2 #button__font-styles,
.wrapper .aside2 #button__font-size,
.wrapper .aside2 #button__line-height {
	z-index: 1;
	position: relative;
}
.wrapper .aside2 [id*=__text-align] svg {
	height: 21px;
	margin: 6px 0 0 0;
}
.wrapper .aside2 #button__line-height svg {
	margin: 3px 0 0 0;
}
.wrapper .aside2 #button__horizontal-scroll svg {
	margin: 2.5px 0 0 0;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.wrapper .aside2__buttons-text-align, .wrapper .aside2__buttons-color, .wrapper .aside2__buttons-font-styles, .wrapper .aside2__range-font-size, .wrapper .aside2__range-line-height {
	display: -ms-grid;
	display: grid;
	gap: 3px;
	justify-items: center;
	width: 35px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	height: 0px;
	border: 2px solid #ffffff;
	margin: -23px 0 19px 0;
}
.wrapper .aside2__buttons-text-align .aside2__button, .wrapper .aside2__buttons-color .aside2__button, .wrapper .aside2__buttons-font-styles .aside2__button, .wrapper .aside2__range-font-size .aside2__button, .wrapper .aside2__range-line-height .aside2__button {
	height: 26px;
	width: 26px;
	border: 1.6px solid #ffffff;
}
.wrapper .aside2__buttons-text-align .aside2__button svg, .wrapper .aside2__buttons-color .aside2__button svg, .wrapper .aside2__buttons-font-styles .aside2__button svg, .wrapper .aside2__range-font-size .aside2__button svg, .wrapper .aside2__range-line-height .aside2__button svg {
	height: 15px;
	margin: 5px 0 0 0;
}
.wrapper .aside2__buttons-text-align .aside2__button div, .wrapper .aside2__buttons-color .aside2__button div, .wrapper .aside2__buttons-font-styles .aside2__button div, .wrapper .aside2__range-font-size .aside2__button div, .wrapper .aside2__range-line-height .aside2__button div {
	height: 15px;
	width: 15px;
}
.wrapper .aside2__buttons-text-align {
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.wrapper .aside2__buttons-color {
	-webkit-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.wrapper .aside2__buttons-font-styles {
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
.wrapper .aside2__range-font-size, .wrapper .aside2__range-line-height {
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.wrapper .aside2__range-font-size, .wrapper .aside2__range-line-height {
	-ms-grid-rows: auto 1fr;
	grid-template-rows: auto 1fr;
	position: relative;
}
.wrapper .aside2__range-number {
	display: inline-block;
	-webkit-transform: translate(-24px, 0);
	        transform: translate(-24px, 0);
	font-weight: 700;
	font-size: 16px;
	padding: 3px 0 0 1.5px;
	background: #333;
	height: 26px;
	width: 26px;
	border: 1.6px solid #ffffff;
	border-radius: 10px;
}
.wrapper .aside2__range-steps {
	position: absolute;
	height: 66px;
	width: 5px;
	left: 6px;
	top: 46px;
	-webkit-transition: all 0.15s linear;
	transition: all 0.15s linear;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.wrapper .aside2__range-steps div {
	height: 1px;
	width: 100%;
	background-color: #fff;
}
.wrapper .aside2__range {
	width: 80px;
	-webkit-transform: rotate(-90deg) translate(-36px, -20px);
	        transform: rotate(-90deg) translate(-36px, -20px);
}
.wrapper .aside2 ._open-text-align {
	visibility: visible;
	opacity: 1;
	height: 145px;
	padding: 25px 0 3px 0;
	margin: -23px 0 0 0;
}
.wrapper .aside2 ._open-color {
	visibility: visible;
	opacity: 1;
	height: 290px;
	padding: 25px 0 3px 0;
	margin: -23px 0 0 0;
}
.wrapper .aside2 ._open-font-styles {
	visibility: visible;
	opacity: 1;
	height: 117px;
	padding: 25px 0 3px 0;
	margin: -23px 0 0 0;
}
.wrapper .aside2 ._open-font-size {
	visibility: visible;
	opacity: 1;
	height: 141px;
	padding: 25px 0 3px 0;
	margin: -23px 0 0 0;
}
.wrapper .aside2 ._open-font-size .aside2__range-steps {
	top: 61px;
}
.wrapper .aside2 #button__color-FFFFFF div {
	background-color: #FFFFFF;
}
.wrapper .aside2 #button__color-ffc800 div {
	background-color: #ffc800;
}
.wrapper .aside2 #button__color-fc8128 div {
	background-color: #fc8128;
}
.wrapper .aside2 #button__color-ff6e9a div {
	background-color: #ff6e9a;
}
.wrapper .aside2 #button__color-50F40F div {
	background-color: #50F40F;
}
.wrapper .aside2 #button__color-3fcc9c div {
	background-color: #3fcc9c;
}
.wrapper .aside2 #button__color-3BDBE9 div {
	background-color: #3BDBE9;
}
.wrapper .aside2 #button__color-3f94fc div {
	background-color: #3f94fc;
}
.wrapper .aside2 #button__color-ff5e5e div {
	background-color: #ff5e5e;
}
.wrapper .aside2 ._active {
	background-color: #333;
}
.wrapper .aside2 ._active svg {
	fill: #FFFFFF;
}
.wrapper .aside2 ._active div {
	border: 1px solid #FFFFFF;
}
.wrapper .aside2 ._active span {
	color: #fff;
}
.wrapper .aside2 ._error {
	background-color: #ff0000;
}
.wrapper .aside2 ._error svg {
	fill: #FFFFFF;
}
.wrapper .aside2 ._successful {
	background-color: #008000;
}
.wrapper .aside2 ._successful svg {
	fill: #FFFFFF;
}
.wrapper .settings {
	display: none;
	background-color: #333;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: white #333;
}
.wrapper .settings__body {
	margin: 0 auto;
	padding: 30px 50px;
	font-size: 16px;
}
.wrapper .settings__title {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}
.wrapper .settings__text {
	line-height: 20px;
	margin: 10px 0 15px 0;
	text-align: center;
}
.wrapper .settings__items {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 50px 1fr;
	grid-template-columns: 1fr 1fr;
	-webkit-column-gap: 50px;
	   -moz-column-gap: 50px;
	        column-gap: 50px;
	row-gap: 20px;
}
.wrapper .settings__item {
	border: 1px solid #757575;
	border-radius: 10px;
	padding: 0 0 8px 0;
}
.wrapper .settings__item-title {
	font-weight: 500;
	text-align: center;
	line-height: 30px;
}
.wrapper .settings__item-setting-title-text {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	font-size: 14px;
	justify-items: center;
	padding: 4px 0 0 0;
}
.wrapper .settings__item-setting-title, .wrapper .settings__item-setting-text {
	width: 80%;
}
.wrapper .settings ._alignmment {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	row-gap: 10px;
}
.wrapper .settings ._alignmment .settings__item-setting-title {
	display: inline-block;
	width: 145px;
}
.wrapper .settings ._alignmment .settings__item-setting-text {
	display: inline-block;
	width: 139px;
}
.wrapper .settings__dropdown {
	display: inline-block;
	position: relative;
	width: 85px;
}
.wrapper .settings__dropdown-button {
	width: 100%;
	font-size: 14px;
	line-height: 26px;
	text-align: left;
	color: #FFF;
	font-weight: 600;
	padding: 0 0 0 4px;
	background: #333;
	border: 1px solid #757575;
	position: relative;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.wrapper .settings__dropdown-button:after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 8px;
	height: 8px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
	top: 7px;
	right: 6px;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.wrapper .settings__dropdown-list {
	display: none;
	width: 100%;
	position: absolute;
	border: 1px solid #757575;
	z-index: 10;
}
.wrapper .settings__dropdown-item {
	background-color: #333;
	line-height: 26px;
	border-bottom: 1px solid #757575;
	padding: 0 0 0 4px;
	font-size: 14px;
	cursor: pointer;
}
.wrapper .settings__dropdown-item:last-child {
	border-bottom: 0;
}
.wrapper .settings__dropdown-item:active {
	background-color: #757575;
}
.wrapper .settings ._dropdown-item-active {
	background-color: #757575;
}
.wrapper .settings ._dropdown-color {
	width: 90%;
	margin: 0 0 8px 5%;
}
.wrapper .settings ._dropdown-color .settings__dropdown-button {
	padding: 0 0 0 29px;
}
.wrapper .settings ._dropdown-color .settings__dropdown-item {
	height: 26px;
	padding: 0 0 0 29px;
	position: relative;
}
.wrapper .settings ._dropdown-color .settings__dropdown-item:before,
.wrapper .settings ._dropdown-color .settings__dropdown-button div {
	content: "";
	position: absolute;
	width: 22px;
	height: 22px;
	border-radius: 11.5px;
	left: 2px;
	top: 2px;
}
.wrapper .settings ._dropdown-color .settings__dropdown-item:nth-child(1):before {
	background-color: #FFFFFF;
}
.wrapper .settings ._dropdown-color .settings__dropdown-item:nth-child(2):before {
	background-color: #ffc800;
}
.wrapper .settings ._dropdown-color .settings__dropdown-item:nth-child(3):before {
	background-color: #fc8128;
}
.wrapper .settings ._dropdown-color .settings__dropdown-item:nth-child(4):before {
	background-color: #ff6e9a;
}
.wrapper .settings ._dropdown-color .settings__dropdown-item:nth-child(5):before {
	background-color: #50F40F;
}
.wrapper .settings ._dropdown-color .settings__dropdown-item:nth-child(6):before {
	background-color: #3fcc9c;
}
.wrapper .settings ._dropdown-color .settings__dropdown-item:nth-child(7):before {
	background-color: #3BDBE9;
}
.wrapper .settings ._dropdown-color .settings__dropdown-item:nth-child(8):before {
	background-color: #3f94fc;
}
.wrapper .settings ._dropdown-color .settings__dropdown-item:nth-child(9):before {
	background-color: #ff5e5e;
}
.wrapper .settings ._open-dropdown .settings__dropdown-button {
	border: 1px solid #fff;
}
.wrapper .settings ._open-dropdown .settings__dropdown-button:after {
	-webkit-transform: rotate(-135deg);
	        transform: rotate(-135deg);
	top: 10px;
}
.wrapper .settings ._open-dropdown .settings__dropdown-list {
	display: block;
}
.wrapper .settings__checkbox {
	display: block;
	background-color: transparent;
	font-size: 14px;
	line-height: 20px;
	color: #757575;
	padding: 0 0 0 20px;
	position: relative;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.wrapper .settings__checkbox:before {
	content: "";
	width: 12px;
	height: 12px;
	background-color: transparent;
	border: 3px solid #333;
	-webkit-box-shadow: 0 0 0 2px #757575;
	        box-shadow: 0 0 0 2px #757575;
	position: absolute;
	top: 4px;
	left: 0px;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.wrapper .settings ._active-checkbox {
	color: #FFFFFF;
}
.wrapper .settings ._active-checkbox:before {
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 0 2px #ffffff;
	        box-shadow: 0 0 0 2px #ffffff;
}
.wrapper .settings__range-body {
	width: 100%;
	margin: 10px 0 0 0;
	padding: 0 0 6px 0;
}
.wrapper .settings__range {
	width: 100%;
	background-color: #757575;
}
.wrapper .settings__range::-webkit-slider-thumb {
	background: #757575;
}
.wrapper .settings__range::-moz-range-thumb {
	background: #757575;
}
.wrapper .settings__range-value-text {
	font-weight: 600;
}
.wrapper .settings__range-steps {
	height: 5px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0 7px;
	margin: 4px 0 0 0;
}
.wrapper .settings__range-steps div {
	height: 100%;
	width: 1px;
	background-color: #fff;
}
.wrapper .settings #checkbox-settings-horizontal-scroll {
	margin: 5px 5% 8px 5%;
}
.wrapper .settings__additional-items {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 50px 1fr 50px 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	-webkit-column-gap: 50px;
	   -moz-column-gap: 50px;
	        column-gap: 50px;
	margin: 20px 0 0 0;
}
.wrapper .settings__additional-button {
	background-color: #333;
	border: 1px solid #757575;
	height: 40px;
	font-size: 16px;
	font-weight: 500;
	border-radius: 10px;
	color: #f00;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.wrapper .settings__additional-button:active {
	border-color: #f00;
}
.wrapper .settings__line {
	width: 100%;
	height: 1px;
	background-color: #757575;
	margin: 20px 0;
}
.wrapper .settings__control-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: end;
	-webkit-column-gap: 20px;
	   -moz-column-gap: 20px;
	        column-gap: 20px;
	margin: 20px 0 0 0;
}
.wrapper .settings__control-button {
	background-color: #333;
	border: 1px solid #fff;
	height: 40px;
	font-size: 16px;
	font-weight: 500;
	border-radius: 10px;
	color: #fff;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	padding: 0 15px;
}
.wrapper .settings__control-button:nth-child(1) {
	font-weight: 400;
	border: 1px solid #757575;
}
.wrapper .settings__control-button:active {
	background-color: #444;
}

._open-settings {
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
}
._open-settings .header {
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1/2;
}
._open-settings .aside1 {
	display: none;
}
._open-settings .main {
	display: none;
}
._open-settings .aside2 {
	display: none;
}
._open-settings .settings {
	display: block;
}

@media (hover: hover) {
	.pop-up__buttons button:nth-child(1):hover {
		background-color: rgba(70, 70, 70, 0.9);
	}
	.pop-up__button:hover {
		background-color: rgba(240, 240, 240, 0.9);
	}
	.wrapper .header__menu-button:hover:after {
		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
	}
	.wrapper .aside2__button:hover {
		background-color: #333;
	}
	.wrapper .aside2__button:hover svg {
		fill: #FFFFFF;
	}
	.wrapper .aside2__button:hover div {
		border: 1px solid #FFFFFF;
	}
	.wrapper .aside2__button:hover span {
		color: #fff;
	}
	.wrapper .settings__dropdown-item:hover {
		background-color: #757575;
	}
	.wrapper .settings__additional-button:hover {
		border-color: #f00;
	}
	.wrapper .settings__control-button:hover {
		background-color: #444;
	}
}
@media (max-height: 450px) {
	.pop-up__body {
		margin: 0 0 0 0;
	}
}
@media (max-width: 1000px) {
	.wrapper .header {
		border: 0px;
		border-bottom: 1px solid #FFFFFF;
	}
	.wrapper .aside1 {
		border: 0px;
	}
	.wrapper .aside2 {
		border: 0px;
	}
	.wrapper .settings {
		border: 0px;
	}
	.wrapper .settings__additional-items {
		-webkit-column-gap: 30px;
		   -moz-column-gap: 30px;
		        column-gap: 30px;
	}
}
@media (max-width: 767px) {
	.wrapper .header {
		-ms-grid-columns: auto 1fr auto;
		grid-template-columns: auto 1fr auto;
	}
	.wrapper .header__title {
		width: 100%;
	}
	.wrapper .header__burger-all-notes {
		display: inline-block;
		padding: 0 0 0 10px;
	}
	.wrapper .header ._hide-burger {
		display: none;
	}
	.wrapper .header__menu {
		display: none;
	}
	.wrapper .header__min-menu {
		display: inline-block;
	}
	.wrapper .header ._open-burger div:nth-child(1) {
		-webkit-transform: rotate(45deg);
		        transform: rotate(45deg);
		top: 9px;
	}
	.wrapper .header ._open-burger div:nth-child(2) {
		opacity: 0;
	}
	.wrapper .header ._open-burger div:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		        transform: rotate(-45deg);
		top: -9px;
	}
	.wrapper .header ._open-burger div {
		position: relative;
		width: 24px;
		height: 4px;
		border-radius: 2px;
	}
	.wrapper .header ._open-min-menu svg {
		opacity: 0;
		-webkit-transform: rotate(135deg);
		        transform: rotate(135deg);
	}
	.wrapper .header ._open-min-menu div {
		opacity: 1;
		visibility: visible;
	}
	.wrapper .aside1__menu {
		-ms-grid-rows: 1fr;
		grid-template-rows: 1fr;
		margin: 0 2.5px 0 10px;
	}
	.wrapper .aside1__title {
		display: none;
	}
	.wrapper .aside1__empty {
		width: 52px;
		font-size: 17px;
		line-height: 20px;
	}
	.wrapper .aside1__all-notes {
		border-top: 7.5px solid #333;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.wrapper .aside1__button {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 31px 174px;
		grid-template-columns: 31px 174px;
		font-size: 16px;
		width: 35px;
		height: 35px;
		padding: 0 2px;
		border-radius: 10px;
	}
	.wrapper .aside1__button span {
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
	}
	.wrapper .aside1__button svg {
		margin: 2px 0 0 1px;
		height: 28px;
	}
	.wrapper .aside1 ._open767 .aside1__empty {
		width: 213px;
	}
	.wrapper .aside1 ._open767 .aside1__button {
		width: 213px;
	}
	.wrapper .aside1 ._open767 .aside1__button svg {
		margin: 2px 2px 0 1px;
	}
	.wrapper .main .note {
		margin: 0 10px;
	}
	.wrapper .main .note__title {
		margin: 15px 0 0 0;
	}
	.wrapper .main .note__textarea {
		margin: 8px 0 15px 0;
	}
	.wrapper .settings__body {
		padding: 15px 20px;
	}
	.wrapper .settings__items {
		-webkit-column-gap: 20px;
		   -moz-column-gap: 20px;
		        column-gap: 20px;
		row-gap: 20px;
	}
	.wrapper .settings__additional-items {
		-ms-grid-columns: 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr;
		-webkit-column-gap: 20px;
		   -moz-column-gap: 20px;
		        column-gap: 20px;
		row-gap: 20px;
	}
	._open-settings .header {
		-ms-grid-columns: 1fr auto;
		grid-template-columns: 1fr auto;
		padding: 0 0 0 44px;
	}
}
@media (max-width: 575px) {
	.wrapper {
		-ms-grid-columns: 1fr 50px;
		grid-template-columns: 1fr 50px;
	}
	.wrapper .header__burger-all-notes {
		padding: 0 0 0 6.5px;
	}
	.wrapper .aside1 {
		position: absolute;
		top: 47px;
		left: -238px;
		z-index: 10;
		background-color: #333;
		height: calc(var(--vh100, 100vh) - 47px);
		border-right: 1px solid #FFFFFF;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.wrapper .aside1__title {
		display: block;
	}
	.wrapper .aside1__menu {
		-ms-grid-rows: auto 1fr;
		grid-template-rows: auto 1fr;
	}
	.wrapper .aside1__empty {
		width: 213px;
	}
	.wrapper .aside1__button {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 213px;
	}
	.wrapper .aside1__button svg {
		margin: 2px 2px 0 1px;
	}
	.wrapper ._open575 {
		left: 0px;
	}
	.wrapper .main {
		border-left: 0px;
	}
	.wrapper .settings__body {
		padding: 15px 10px;
	}
	.wrapper .settings__items {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		-webkit-column-gap: 50px;
		   -moz-column-gap: 50px;
		        column-gap: 50px;
		row-gap: 20px;
	}
	.wrapper .settings__additional-items {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	._open-settings {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	._open-settings .header {
		padding: 0 0 0 40.5px;
	}
}