@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

::-webkit-scrollbar {
  	width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 2.5px;
}
::-moz-placeholder, :-moz-placeholder {
    opacity: 1;
}



body {
	background-color: #333;
	font-family: 'IBM Plex Mono', monospace;
	color: #FFFFFF;

	overflow: hidden;
	scrollbar-width: thin;
 	scrollbar-color: white #333;
}

h1 {
	font-size: 30px;
	font-weight: 600;
}

// =============== pop-up ===============
.pop-up{
	z-index: 100;	
	position: absolute;
	width: 100vw;
	height: var(--vh100, 100vh);
	background-color: rgba(51, 51, 51, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;

	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease 0s;

	&__body {
		margin: 0 0 100px 0;
		border-radius: 15px;
		border: 4px solid rgba(255, 255, 255, 0.9);
		width: 270px;
		color: rgba(255, 255, 255, 0.9);
		background-color: rgba(51, 51, 51, 0.9);
		font-size: 16px;

		transition: all 0.2s ease 0s;
		opacity: 0;
		transform: scale(0, 0);
	}
	&__title {
		text-align: center;
		font-weight: 600;
		padding: 7px 0;
	}
	&__text {
		line-height: 20px;
		border-top: 2px solid rgba(255, 255, 255, 0.9);
		padding: 7px;
	}
	&__buttons {
		padding: 3px 7px 7px 7px;
		text-align: right;
		letter-spacing: none;

		button:nth-child(1) {
			margin: 0 6px 0 0;
			background-color: rgba(51, 51, 51, 0.9);
			color: rgba(255, 255, 255, 0.9);
		}
	}
	&__button {
		font-size: 14px;
		display: inline-block;
		background-color: rgba(255, 255, 255, 0.9);
		color: rgba(51, 51, 51, 0.9);
		border-radius: 4px;
		padding: 1px 5px;
		font-weight: 700;
		border: 2px solid rgba(255, 255, 255, 0.9);
	}
}

// =============== wrapper ===============
.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto 1fr 50px;
	grid-template-rows: 47px calc(var(--vh100, 100vh) - 47px);

	// =============== header ===============
	.header {
		border: 1px solid #FFFFFF;
		border-top: 0px;
		grid-column: 1/4;
		display: grid;
		grid-template-columns: 1fr;
		&__title {	
			padding: 8px 0 8px 0px;
			width: 206px;
			text-align: center;
			display: inline-block;		

			h1 {
				display: inline-block;
				position: relative;	
			}
			h1:before {
				content: "AST";
				font-size: 12px;
				color: #ff0000;
				font-weight: 700;
				font-style: italic;
				position: absolute;	
				top: 3px;
				left: -25px;
			}
		}
		&__burger-all-notes {
			display: none;
			align-self: center;
			justify-self: end;
			padding: 0 0 0 6.5px;

			button {
				display: inline-block;
				display: grid;
				gap: 5px;
				background-color: transparent;
				padding: 5px 5px;
			}
			div {
				transition: all 0.3s ease;
				width: 24px;
				height: 4px;
				background-color: #fff;
				border-radius: 2px;
			}	
		}
		&__burger-menu {
			display: none;
			align-self: center;
			justify-self: end;
			padding: 0 12px 0 0;
			button {
				display: inline-block;
				grid-template-columns: 1fr 1fr 1fr;
				display: grid;
				gap: 3px;
				background-color: transparent;
			}
			div {
				width: 7px;
				height: 7px;
				background-color: #fff;
				border-radius: 2px;
			}	
		}
	}

	// =============== aside1 ===============
	.aside1 {
		border-left: 1px solid #FFFFFF;

		&__menu {
			margin: 0 5px 0 10px;
			height: calc(var(--vh100, 100vh) - 47px);
			font-size: 18px;
			display: grid;
			grid-template-rows: auto 1fr;
		}
		&__title{
			margin: 17.5px 0 7.5px 0;
		}
		&__empty {
			display: inline-block;
			font-size: 14px;
			line-height: 18px;;
			color: #757575;
			width: 180px;
			transition: all 0.15s ease;	
		}
		&__all-notes {
			height: 100%;
			overflow-y: scroll;
			padding: 0 5px 0 0;
			border-bottom: 25px solid #333;

			scrollbar-width: thin;
			scrollbar-color: white #333;
		}

		&__button {
			background-color: #FFFFFF;
			font-size: 13px;
			line-height: 20px;
			border-radius: 5px;
			color: #333;
			font-weight: 700;
			padding: 0 5px;
			width: 180px;
			height: 22px;
			margin: 0 0 7.5px 0;
			text-align: left;
			border: 1px solid #FFFFFF;
			overflow: hidden;
			display: flex;

			transition: all 0.15s linear 0s;

			svg {
				fill: #333;
				height: 18px;
				margin: 1px 4px 0 0;

				transition: all 0.15s linear 0s;
			}
		}

		._active {}
	}

	// =============== main ===============
	.main {
		border-left: 1px solid #FFFFFF;
		border-right: 1px solid #FFFFFF;

		.note {
			display: grid;
			height: 100%;
			grid-template-rows: auto auto 1fr;
			margin: 0 25px; 

			&__title,
			&__textarea {
				background-color: #333;
				color: #FFFFFF;
				resize: none;
			}

			&__title {
				min-width: 1px;
				margin: 25px 0 0 0;
				font-size: 20px;
				line-height: 26px;
				font-weight: 500;
				padding: 0 1px 0px 1px;
				overflow-y: auto;
				height: 26px;

				scrollbar-width: thin;
				scrollbar-color: white #333; 
			}
			&__line {
				height: 1px;
				margin: 10px 0 0 0;
				background-color: #fff;
			}
			&__textarea {
				min-width: 1px;
				padding: 0px 3px 0 1px;
				margin: 8px 0 25px 0;
				font-size: 16px;
				line-height: 22px;
				font-weight: 400;
				scrollbar-width: thin;
				scrollbar-color: white #333; 
			}
		}

		textarea::placeholder {
			color: #757575;
			transition: all 0.15s linear 0s;
		}
		._error {
			textarea::placeholder {
				color: #ff0000;
			}
		}
	}

	// =============== aside2 ===============
	.aside2 {
		border-right: 1px solid #FFFFFF;

		&__menu {
			padding: 7.5px 0 7.5px 0;
			display: grid;
			gap: 7.5px;
			justify-items: center;
			max-height: calc(var(--vh100, 100vh) - 47px);
			overflow-y: auto;

			scrollbar-width: thin;
			scrollbar-color: white #333;
		}

		&__button {
			height: 35px;
			width: 35px;
			border-radius: 10px;
			background-color: #FFFFFF;
			border: 2px solid #FFFFFF;

			transition: all 0.15s linear 0s;

			svg {
				fill: #333;
				height: 26px;
				margin: 2px 0 0 0;

				transition: all 0.15s linear 0s;
			}

			div {
				background-color: #FFFFFF;
				height: 23px;
				width: 23px;
				border: 1px solid #333;
				border-radius: 5px;	
				margin: 0 0 0 4px;

				transition: all 0.15s linear 0s;
			}

			span {
				font-size: 16px;
				color: #333;
				font-weight: 500; 
			}
		}
		#button__text-align,
		#button__color,
		#button__font-styles,
		#button__font-size {
			z-index: 1;
			position: relative;		
		}
		[id*=__text-align] {
			svg {
				height: 21px;
				margin: 6px 0 0 0;
			}
		}
		&__buttons-text-align,
		&__buttons-color,
		&__buttons-font-styles,
		&__range-font-size {
			display: grid;
			gap: 3px;
			justify-items: center;

			width: 35px;
			background-color: rgba(255, 255, 255, 0.2);
			border-radius: 10px;

			overflow: hidden;

			visibility: hidden;
			opacity: 0;	
			height: 0px;
			border: 2px solid  #ffffff;
			margin: -23px 0 19px 0;
			
			.aside2__button {
				height: 26px;
				width: 26px;
				border: 1.6px solid #ffffff;
				svg {
					height: 15px;
					margin: 5px 0 0 0;
				}
				div {
					height: 15px;
					width: 15px;
				}
			}
		}
		&__buttons-text-align {
			transition: all 0.3s linear;
		}
		&__buttons-color {
			transition: all 0.4s linear;
		}
		&__buttons-font-styles {
			transition: all 0.25s linear;
		}
		&__range-font-size {
			transition: all 0.3s linear;
		}

		&__range-font-size{
			grid-template-rows: auto 1fr;
			position: relative;
		}
		&__range-number {
			display: inline-block;
			transform: translate(-24px, 0);
			font-weight: 700;
			font-size: 16px;
			padding: 3px 0 0 1.5px;
			background: #333;
			height: 26px;
			width: 26px;
			border: 1.6px solid #ffffff;
			border-radius: 10px;
		}
		&__range-steps {
			position: absolute;
			height: 66px;
			width: 5px;
			left: 6px;
			top: 46px;
			transition: all 0.15s linear;

			display: flex;
			flex-direction: column;
			justify-content: space-between;

			div {
				height: 1px;
				width: 100%;
				background-color: #fff;	
			}
		}
		&__range {
			-webkit-appearance: none;
			width: 80px;
			height: 8px;
			transform: rotate(-90deg) translate(-36px, -20px);
			
			background: #333;
			border-radius: 4px;

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				background: #333;
				width: 14px;
				height: 14px;
				border-radius: 7px;
				border: 3px solid #fff;
				cursor: pointer;
			}
			&::-moz-range-thumb {
				box-sizing: border-box;
				background: #333;
				width: 14px;
				height: 14px;
				border-radius: 7px;
				border: 3px solid #fff;
				cursor: pointer;
			}
		}

		._open-text-align {
			visibility: visible;
			opacity: 1;	
			height: 145px;

			padding: 25px 0 3px 0;
			margin: -23px 0 0 0;
		}
		._open-color {
			visibility: visible;
			opacity: 1;	
			height: 290px;

			padding: 25px 0 3px 0;
			margin: -23px 0 0 0;
		}
		._open-font-styles {
			visibility: visible;
			opacity: 1;	
			height: 117px;

			padding: 25px 0 3px 0;
			margin: -23px 0 0 0;
		}
		._open-font-size {
			visibility: visible;
			opacity: 1;	
			height: 141px;

			padding: 25px 0 3px 0;
			margin: -23px 0 0 0;

			.aside2__range-steps {
				top: 61px;
			}
		}

		#button__color-FFFFFF {
			div {
				background-color: #FFFFFF;
			}	
		}
		#button__color-ffc800 {
			div {
				background-color: #ffc800;
			}
		}
		#button__color-fc8128 {
			div {
				background-color: #fc8128;
			}
		}
		#button__color-ff6e9a {
			div {
				background-color: #ff6e9a;
			}
		}
		#button__color-50F40F {
			div {
				background-color: #50F40F;
			}
		}
		#button__color-3fcc9c {
			div {
				background-color: #3fcc9c;
			}
		}
		#button__color-3BDBE9 {
			div {
				background-color: #3BDBE9;
			}
		}
		#button__color-3f94fc {
			div {
				background-color: #3f94fc;
			}
		}
		#button__color-ff5e5e {
			div {
				background-color: #ff5e5e;
			}
		}

		._active {
			background-color: #333;

			svg {
				fill: #FFFFFF;
			}
			div {
				border: 1px solid #FFFFFF;
			}
			span {
				color: #fff;
			}
		}
		._error {
			background-color: #ff0000;

			svg {
				fill: #FFFFFF;
			}
		}
		._successful {
			background-color: green;
			svg {
				fill: #FFFFFF;
			}
		}
	}
}



// ================= @media (hover: hover) =================
@media (hover: hover) {
	.pop-up {
		&__buttons {
			button:nth-child(1):hover {
				margin: 0 6px 0 0;
				background-color: rgba(70, 70, 70, 0.9);
				color: rgba(255, 255, 255, 0.9);
			}
		}
		&__button {
			&:hover {
				background-color: rgba(240, 240, 240, 0.9);
				color: rgba(51, 51, 51, 0.9);
				border: 2px solid rgba(240, 240, 240, 0.9);
			}
		}
	}
	.wrapper {
		.aside2 {
			&__button {
				&:hover {
					background-color: #333;
					svg {
						fill: #FFFFFF;
					}
					div {
						border: 1px solid #FFFFFF;
					}
					span {
						color: #fff;
					}
				}
			}
		}
	}
}

// =============== @media (max-height: 450px) ===============
@media (max-height: 450px) {
	.pop-up {
		&__body {
			margin: 0 0 0 0;
		}
	}
}

// =============== @media (max-width: 1000px) ===============
@media (max-width: 1000px) {
	.wrapper {
		.header {
			border: 0px;
			border-bottom: 1px solid #FFFFFF;
		}
		.aside1 {
			border: 0px;
		}
		.aside2 {
			border: 0px;
		}
	}
}

// =============== @media (max-width: 767px) ===============
@media (max-width: 767px) {
	.wrapper {
		.header {
			grid-template-columns: auto 1fr auto;
			&__title {
				width: 100%;
			}
			&__burger-all-notes {
				display: inline-block;	
				padding: 0 0 0 10px;
			}
			&__burger-menu {
				display: inline-block;
			}
			._open-burger {
				div:nth-child(1) {
					transform: rotate(45deg);
					top: 9px;
				}
				div:nth-child(2){
					opacity: 0;	
				}
				div:nth-child(3) {
					transform: rotate(-45deg);
					top: -9px;
				}
				div {
					position: relative;
					width: 24px;
					height: 4px;
					border-radius: 2px;
				}
			}
		}
		.aside1 {

			&__menu {
				grid-template-rows: 1fr;
				margin: 0 2.5px 0 10px;	
			}
			&__title {
				display: none;
			}
			&__empty {
				width: 52px;
				font-size: 17px;
				line-height: 20px;
			}
			&__all-notes {
				border-top: 7.5px solid #333;
				//padding: 0 2.5px 0 0;
				transition: all 0.3s ease;
			}
			&__button {
				display: grid;
				grid-template-columns: 31px 174px;			
				font-size: 16px;
				span {
					align-self: center;
				}
				width: 35px;
				height: 35px;
				padding: 0 2px;
				border-radius: 10px;
				svg {
					margin: 2px 0 0 1px;
					height: 28px;
				}
			}
			._open767{
				.aside1__empty {
					width: 213px;
				}
				.aside1__button {
					width: 213px;
					span {
					}
					svg {
						margin: 2px 2px 0 1px;
					}
				}
			}
		}
		.main {
			.note {
				margin: 0 10px;

				&__title {
					margin: 15px 0 0 0;
				}
				&__textarea {
					margin: 8px 0 15px 0;
				}
			}
		}
	}
}

// =============== @media (max-width: 575px) ===============
@media (max-width: 575px) {
	.wrapper {
		grid-template-columns: 1fr 50px;
		.header {
			&__burger-all-notes {
				padding: 0 0 0 6.5px;
			}
		}
		.aside1 {
			position: absolute;
			top: 47px;
			left: -238px;
			z-index: 10;
			background-color: #333;
			height: calc(var(--vh100, 100vh) - 47px);
			border-right: 1px solid #FFFFFF;
			transition: all 0.3s ease;	
			&__title {
				display: block;
			}
			&__menu {
				grid-template-rows: auto 1fr;
			}
			&__empty {
				width: 213px;
			}
			&__button {
				display: flex;
				width: 213px;
				svg {
					margin: 2px 2px 0 1px;
				}
			}
		}
		._open575 {
			left: 0px;
		}
		.main {
			border-left: 0px;
		}
	}
}